.address {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 329px;
  margin-top: 24px;
}

.appps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.app {
  margin-bottom: 8px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.button-blue {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button-blue {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
}

.button-blue:focus {
  background-color: #404bbf;
}

.bottom {
  max-width: 264px;
}

.contacts {
  font-style: normal;
}

.contacts .contacts-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts .contacts-info:hover,
.contacts .contacts-info:focus {
  color: #404bbf;
}

.contacts .contacts-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}

.contacts-list {
  display: inline-flex;
  gap: 40px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}

/* Defolt styles off */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

/* End */

.job-status {
  padding: 32px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-tech {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-techno {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.menu-list:hover,
.menu-list:focus {
  color: #404bbf;
}

.menu-list-first:hover,
.menu-list-first:focus {
  color: #404bbf;
}

.menu {
  display: inline-flex;
  gap: 40px;
}

.page {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.pages {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-first {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.section-second {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-third {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-main {
  background-color: #f4f4fd;
}

.section,
.section-main {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-color {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.start {
  display: flex;
  align-items: center;
}

.section-start {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-desk {
  width: calc((100% - 72px) / 4);
}

.section-list {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.status {
  text-align: center;
}

.section-list-port {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.section-img {
  display: block;
}

.team {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.webstudio {
  padding-bottom: 15px;
}
